CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_generic=y
CONFIG_TARGET_ath79_generic_DEVICE_glinet_6416=y
# CONFIG_FEED_helloworld is not set
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_bind-client=y
CONFIG_PACKAGE_bind-libs=y
CONFIG_PACKAGE_bind-tools=y
CONFIG_PACKAGE_boost=y
CONFIG_PACKAGE_boost-date_time=y
CONFIG_PACKAGE_boost-program_options=y
CONFIG_PACKAGE_boost-system=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=y
CONFIG_PACKAGE_ddns-scripts_freedns_42_pl=y
CONFIG_PACKAGE_ddns-scripts_godaddy.com-v1=y
CONFIG_PACKAGE_ddns-scripts_no-ip_com=y
CONFIG_PACKAGE_ddns-scripts_nsupdate=y
CONFIG_PACKAGE_ddns-scripts_route53-v1=y
CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_kcptun-client=y
CONFIG_PACKAGE_kmod-crypto-crc32=y
CONFIG_PACKAGE_kmod-crypto-crc32c=y
CONFIG_PACKAGE_kmod-crypto-des=y
CONFIG_PACKAGE_kmod-crypto-hmac=y
CONFIG_PACKAGE_kmod-crypto-md4=y
CONFIG_PACKAGE_kmod-crypto-md5=y
CONFIG_PACKAGE_kmod-crypto-sha256=y
CONFIG_PACKAGE_kmod-fs-cifs=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_kmod-fs-msdos=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-iptunnel4=y
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-usb-uhci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_libblkid=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libfdisk=y
CONFIG_PACKAGE_libmount=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libsmartcols=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_plugin=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NaiveProxy=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=y
CONFIG_PACKAGE_luci-i18n-ssr-plus-zh-cn=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcp6c_ext_cer_id=0
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_odhcpd_ipv6only_ext_cer_id=0
CONFIG_PACKAGE_openssh-sftp-client=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_redsocks2=y
CONFIG_PACKAGE_shadowsocksr-libev-server=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_trojan=y
CONFIG_PACKAGE_v2ray=y
CONFIG_PACKAGE_v2ray-plugin=y
CONFIG_V2RAY_COMPRESS_UPX=y
CONFIG_V2RAY_DISABLE_NONE=y
CONFIG_V2RAY_EXCLUDE_ASSETS=y
CONFIG_V2RAY_EXCLUDE_V2CTL=y
CONFIG_V2RAY_JSON_INTERNAL=y
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
# CONFIG_TARGET_brcm2708 is not set
# CONFIG_TARGET_bcm53xx is not set
# CONFIG_TARGET_brcm47xx is not set
# CONFIG_TARGET_brcm63xx is not set
# CONFIG_TARGET_cns3xxx is not set
# CONFIG_TARGET_octeon is not set
# CONFIG_TARGET_gemini is not set
# CONFIG_TARGET_mpc85xx is not set
# CONFIG_TARGET_imx6 is not set
# CONFIG_TARGET_mxs is not set
# CONFIG_TARGET_lantiq is not set
# CONFIG_TARGET_malta is not set
# CONFIG_TARGET_pistachio is not set
# CONFIG_TARGET_mvebu is not set
# CONFIG_TARGET_kirkwood is not set
# CONFIG_TARGET_mediatek is not set
# CONFIG_TARGET_ramips is not set
# CONFIG_TARGET_at91 is not set
# CONFIG_TARGET_rb532 is not set
# CONFIG_TARGET_tegra is not set
# CONFIG_TARGET_layerscape is not set
# CONFIG_TARGET_octeontx is not set
# CONFIG_TARGET_oxnas is not set
# CONFIG_TARGET_armvirt is not set
# CONFIG_TARGET_ipq40xx is not set
# CONFIG_TARGET_ipq806x is not set
# CONFIG_TARGET_samsung is not set
# CONFIG_TARGET_arc770 is not set
# CONFIG_TARGET_archs38 is not set
# CONFIG_TARGET_omap is not set
# CONFIG_TARGET_uml is not set
# CONFIG_TARGET_zynq is not set
# CONFIG_TARGET_x86 is not set
# CONFIG_TARGET_ath79_nand is not set
# CONFIG_TARGET_ath79_tiny is not set
# CONFIG_TARGET_MULTI_PROFILE is not set
# CONFIG_TARGET_ath79_generic_Default is not set
# CONFIG_TARGET_ath79_generic_DEVICE_8dev_carambola2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_avm_fritz4020 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_avm_fritz300e is not set
# CONFIG_TARGET_ath79_generic_DEVICE_aruba_ap-105 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_bhr-4grv is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_bhr-4grv2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_wzr-hp-ag300h is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_wzr-hp-g302h-a1a0 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_wzr-hp-g450h is not set
# CONFIG_TARGET_ath79_generic_DEVICE_comfast_cf-e110n-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_comfast_cf-e120a-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_comfast_cf-e5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-825-b1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-825-c1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-835-a1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-859-a1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_elecom_wrc-1750ghbk2-i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_elecom_wrc-300ghbk2-i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_embeddedwireless_dorin is not set
# CONFIG_TARGET_ath79_generic_DEVICE_engenius_ecb1750 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_engenius_epg5000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_engenius_ews511ap is not set
# CONFIG_TARGET_ath79_generic_DEVICE_glinet_6408 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_glinet_gl-ar150 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_glinet_gl-ar300m-lite is not set
# CONFIG_TARGET_ath79_generic_DEVICE_glinet_gl-x750 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_etg3-r is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ac1167dgr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ac1600dgr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ac1600dgr2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ag300dgr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_librerouter_librerouter-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_nec_wg1200cr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_nec_wg800hp is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_ex6400 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_ex7300 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_wndr3700 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_wndr3700v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_wndr3800 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ocedo_koala is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ocedo_raccoon is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ocedo_ursus is not set
# CONFIG_TARGET_ath79_generic_DEVICE_openmesh_om5p-ac-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_phicomm_k2t is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pisen_wmm003n is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pcs_cap324 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pcs_cr3000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pcs_cr5000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_rosinson_wr818 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-a7-v5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c2-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c25-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c5-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c58-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c59-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c6-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c60-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c60-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c60-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v4 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-d50-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_cpe210-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_cpe210-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_cpe220-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_re350k-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_re450-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr3500-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr3600-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4300-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4300-v1-il is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4310-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4900-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043n-v5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v4 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr2543-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr710n-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr710n-v2.1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr810n-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr810n-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr842n-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr842n-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr842n-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_airrouter is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_bullet-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_bullet-m-xw is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_lap-120 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanobeam-ac is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-ac is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-ac-loco is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-loco-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-loco-m-xw is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-m-xw is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_picostation-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_rocket-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_routerstation is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_routerstation-pro is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifi is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-lr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-lite is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-mesh is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-mesh-pro is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-pro is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_acb-isp is not set
# CONFIG_TARGET_ath79_generic_DEVICE_wd_mynet-n750 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_wd_mynet-wifi-rangeextender is not set
# CONFIG_TARGET_ath79_generic_DEVICE_winchannel_wb2000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_xiaomi_mi-router-4q is not set
# CONFIG_TARGET_ath79_generic_DEVICE_yuncore_a770 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_yuncore_a782 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_yuncore_xd4200 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_zbtlink_zbt-wd323 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1200e is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1200i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750c is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750e is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750x is not set
# CONFIG_TARGET_ath79_generic_DEVICE_etactica_eg200 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_jjplus_ja76pf2 is not set
# CONFIG_TARGET_x86_64 is not set
# CONFIG_TARGET_x86_64_Generic is not set
# CONFIG_TARGET_x86_generic is not set
# CONFIG_TARGET_x86_geode is not set
# CONFIG_TARGET_x86_legacy is not set
# CONFIG_TARGET_x86_zen is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_vsftpd is not set
# CONFIG_PACKAGE_vsftpd-alt is not set
# CONFIG_PACKAGE_vsftpd-tls is not set
